:root{
    /* Color styles */
--low-green: #1ABC9C;
--bg-dark-grey: #3A546D;
--bg-main: #FFFFFF;
--bg-dark-footer: #2C3E50;
--text--dark-grey: #353535;
--text-grey: #E1E4E8;

}
footer{
    color: var(--text-grey);
}

#mynav a:hover{
    color: var(--low-green);
}
/* HERO */
#hero{
    background-color: var(--low-green);
}
#hero img {
    width: 250px;
}
.star{
    width: 50%;
}
.star i{
    font-size: 50px;
}
.star:before, .star:after{
   content: '';
   display: block;
   width: 30%;
   height: 4px;
   border-radius: 2px;
background-color: var(--bg-main);


}
/* PORTFOLIO */
#portfolio{
    background-color: var(--bg-main);
}
.star.black:before,
.star.black:after{
    background-color: var(--text--dark-grey);
}
.img-container{
    position: relative;
}

.img-container:after{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 6rem;
    content: '+';
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(26,188,156,0.7);
    color: white;
    opacity: 0;
    cursor: pointer;
}
.img-container:hover:after{
    opacity: 1;
}
/* ABOUT */
#about{
    background-color: var(--low-green);
}
#about .btn-download{
    border: 1px solid white;
    width: fit-content;

}
/*  CONTACT */
#contact{
    background-color: var(--bg-main);
}
.btn-green{
    background-color: var(--low-green);
    color: var(--bg-main);
    padding: 8px 16px;
    border-radius: 10px;
    border: 0px;
    font-size: 1.2rem;

}
/* INFO */
#info{
    background-color: var(--bg-dark-grey);
  
}
/* Copyright */
#copyright{
background-color: var(--bg-dark-footer);

}


.border-circle li{
    padding: 2px;
    border: 1px solid var(--text-grey);
    border-radius: 50%;
    width: 30px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 .5rem;
 
}